@charset "UTF-8";
.main-one, .main-two, .main-there {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid darkgray;
}

body, p, ul {
  margin: 0;
  padding: 0;
}

/*头部*/
header {
  width: 100%;
}

header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 94%;
  height: 30px;
  margin: 0 3%;
}

header .top .header-bgi {
  width: 107px;
  height: 24px;
  background: url(../img/wewfdfs.png) no-repeat -513px -391px;
}

header .bg {
  position: relative;
  width: 100%;
  background-color: #29B078;
  color: white;
}

header .bg .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3%;
  height: 60px;
}

header .bg .bor {
  position: fixed;
  top: 45px;
  right: 20px;
  padding: 10px 0;
  width: 35px;
  height: 29px;
  margin-right: 3%;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  background: white content-box;
}

header .bg input {
  display: none;
}

header .bg input:checked ~ .nav-content {
  display: block;
  background-color: #29b078;
}

header .bg .nav-content {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  line-height: 57px;
}

header .bg .nav-content li {
  width: 100%;
  height: 60px;
  text-align: center;
}

header .bg .nav-content li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 50px;
  height: auto;
}

header .bg .nav-content li a:hover {
  border-bottom: 3px solid white;
}

@media (min-width: 768px) {
  .bor {
    display: none;
  }
  header .bg .nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
  }
  header .bg input:checked ~ .nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
  }
}

/*轮播图*/
.bgi-one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 300px;
  -webkit-animation: myfirst 5s;
          animation: myfirst 5s;
  /*无限次播放*/
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background: url(../img/bobobo.png);
  background-size: 100% 100%;
}

.bgi-one > span {
  width: 20px;
  height: 20px;
  border-bottom: 8px solid white;
  border-left: 8px solid white;
}

.bgi-one p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 250px;
  left: calc(50% - 30px);
}

.bgi-one p span {
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

@-webkit-keyframes myfirst {
  50% {
    background: url(../img/lunbooo.png);
    background-size: 100% 100%;
  }
  100% {
    background: url(../img/qqqqqqq.png);
    background-size: 100% 100%;
  }
}

@keyframes myfirst {
  50% {
    background: url(../img/lunbooo.png);
    background-size: 100% 100%;
  }
  100% {
    background: url(../img/qqqqqqq.png);
    background-size: 100% 100%;
  }
}

/*main*/
/*main第一行*/
.main-one .direction {
  width: 15px;
  height: 15px;
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-one span {
  margin-left: 10px;
  color: #29B078;
}

/*main第二行*/
.main-two h3 {
  margin: 0 10px;
}

.main-two span {
  margin: 0 10px;
}

.main-two span:hover {
  background-color: #29B078;
}

.main-two span a {
  color: inherit;
  text-decoration: none;
}

/*main第三行*/
.main-there {
  margin-bottom: 20px;
}

/*main第四行*/
.bgo {
  float: left;
  width: 100px;
  height: 100px;
  background: url(../img/rere1.jpg);
}

.web-th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.web-th p {
  font-size: 10px;
}

td {
  height: 50px;
  padding: 0 10px;
}

td img {
  vertical-align: middle;
}

td strong {
  color: red;
}

.main-four {
  position: relative;
}

.four-first {
  display: none;
}

.four-hov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 96%;
  height: 100%;
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(51, 51, 51, 0.35);
  -webkit-animation: myFop 5s;
          animation: myFop 5s;
}

.four-hov span {
  margin: 20px;
}

@-webkit-keyframes myFop {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes myFop {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

.main-four:hover .four-first {
  display: block;
}

/*页脚*/
footer {
  color: white;
  background-color: #29B078;
}

footer .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .end span {
  margin: 10px 0;
}

footer .end .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .end .game span {
  padding: 5px 0;
}

footer .end .game span:hover {
  text-decoration: underline;
}

footer p {
  border-top: 1px solid darkgray;
  text-align: center;
}

/*锚点*/
.to-top img {
  position: fixed;
  bottom: 200px;
  right: 10px;
}

.to-bot img {
  position: fixed;
  bottom: 140px;
  right: 10px;
}

/*重构bootstrap*/
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-sm-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-sm-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-xl-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-7 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-10 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-11 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}
/*# sourceMappingURL=task14-15-2.css.map */